*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.space{
    margin: 120px 10%;
    text-align: center;
}

h3{
    font-size: 40px;
    font-weight: 600;
    border-bottom: 4px solid #ca0b0b;
    display: inline-block;
    margin-bottom: 80px;
}

/* Nav */

nav{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    padding: 18px 0;
    position: fixed;
    width: 100%;
    border-bottom: none;
    box-shadow: none;
    z-index: 1;
}

nav.scrolled{
     border-bottom: 1px solid #80808045;
    box-shadow: 1px 1px 5px #80808032;
}

#Logo{
color: #ca0b0b;
}

.nav-item{
    display: flex;
    list-style: none;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}

.nav-item a{
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.nav-item a:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid  #ca0b0b;
}
/* Mobile Nav Hamburger */

.hamburger{
    display:none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span{
    width: 25px;
    height: 4px;
    background-color: #000000;
    margin: 3px 0;
}

/* -- Home --  */
#Home{
    padding: 100px 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* home left */
.home_left{
    width: 370px;
}

h1{
    font-size: 50px;
    line-height: 80px;
    font-weight: 700;
    color: #0d1730;
}
h1 span{
    color: #ca0b0b;
}

.button{
    background-color: #ca0b0b;
    padding: 10px 0;
    width: 180px;
    color: #fff;
border: 3px solid white;
border-radius: 20px;
text-align: center;
font-weight: 600px;
font-size: 20px;
margin: 50px 0;
}

.button:hover{
   color: #ca0b0b;
   background-color: #fff;
   border: 3px solid #ca0b0b ;
}

.icons{
display: flex;
list-style: none;
padding: 0;
}

.icons i{
    font-size: 20px;
    padding: 0 15px;
    color: #0d1730;
}

.icons i:hover{
    color: #ca0b0b;
    font-size: 22px;
}

/* home right */
.home_right{
    width: 40%;
}

/* -- About -- */


.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* about left */

.about img{
    border-radius: 50%;
    background-color: #34c2bb1e;
    border: 5px solid #c1c1c133;
}

/* about right */
.about_right{
width: 400px;
text-align: justify;
}

h4{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}





/* -- SKIlls -- */

.skill_set,.skill_set_col{
  display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
    padding: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.skill_set{
    width: 340px;
}



.skill_content{
    width: 100%;
    padding: 0px 5px;
}



/* skill name */

.skill_name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* progress bar */

.progress_bar{
    width: 100%;
    height: 7px;
    background-color: #b3b3b3;
     border-radius: 5px;
     overflow: hidden;
}

.progress_fill{
    height: 100%;
    background-color: #ca0b0b;
    border-radius: 5px;
    width: 0;
    transition: width 1.5s ease;
}

/*  */
.skill_box{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}


/*  */

h4{
text-align: left;
margin: 50px 0;
}

/* -- Contact -- */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact_input{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #808080c0;
}

.contact_button{
    border: none;
    background-color: #ca0b0b;
    color: #fff;
    padding: 5px 30px;
    border-radius: 8px;
    border: 2px solid #fff;
    font-size: 21px;
}

.contact_button:hover{
    background-color: #ffffff;
    color: #ca0b0b;
    border: 2px solid #ca0b0b;
}

/* footer */
footer{
    background-color: #ededede7;
    padding: 10px 0;
    text-align: center;
}

footer>div{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

footer>div i{
    font-size: 20px;
}


/* --------- --------  Animation -------- ---------------*/

.slideLeft{
    animation: slideLeft 1.5s ease forwards;
    opacity: 0;
}


.left-delay-1{
    animation-delay:0.3s ;
}

@keyframes slideLeft {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
       transform: translateX(0);
       opacity: 1;
    }
}

/*  */
.slideDown{
  animation: slideDown 1.5s ease forwards;
  opacity: 0;
}

.down-delay-1{
     animation-delay:0.5s ;
}

@keyframes slideDown {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
       transform: translateY(0);
       opacity: 1;
    }
}


/* --------- --------  Media query -------- ---------------*/

/* Mobile Hamburger */
@media (max-width:768px){

.hamburger{
    display:flex;
}

nav{
    justify-content: space-between;
    padding: 16px 20px;
}

.nav-item{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    box-shadow: 1px 1px 5px #80808032;
   padding: 0;
    width: 100%;
}
.nav-item li{
     padding: 15px 0;
}
.nav-item.active{
      max-height: 300px;
}

}


/* Mobile Home*/
@media (max-width:768px){

    #Home{
  flex-direction: column-reverse;
}

/* home right */
.home_right{
    width: 100%;
    text-align: center;
}

}

/* Mobile About*/
@media (max-width:768px){

.about{
 flex-direction: column;
}

}

/* Mobile about second*/
@media (max-width:420px){

/* about right */
.about_right{
width: 300px;
}

}

/* Mobile Contact*/
@media (max-width:420px){

.contact_input{
    width: 325px;
}

}


